*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.menu{
    background-color: #1e172f;
}

.logo{
    display: flex;
    justify-content: end; 
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 50px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 20px 400px 15px;
    display: flex;
    color: white;
    
}

li {
    margin-right: 25px; 
}

.bot{
    background-color: #961cfa;
    color: #FFFFFF;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.part1 {
    width: 100%;
    display: flex;
}

#left {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
    width: 50%;
    height: 500px;
    background-color: #390f57;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#left h1 {
    font-size: 70px;
    padding-right: 180px;
    width: 15px;
}

#left p{
    width: 450px;
    padding-left: 265px;
    padding-top: 4%;
}

.buttom{
    margin: 5%;
    width: 350px;
    height: 55px;
    border-radius: 5px;
    border: solid #b3b0b0;
    margin-left: 200px;
}

.first {
    margin: 1%;
    color: rgb(238, 43, 238);
    height: 40px;
    width: 170px;
    font-size: 18px;
}

.second {
    margin: 1%;
    height: 40px;
    width: 150px;
    font-size: 18px;
    background-color: #390f57;
    border:solid #FFFFFF;
    color: #ffffff;
}

#right {
    background-image: url(../assets/images/hojasFondo.jpg);
    background-size: cover;
    width: 50%;
    display: flex;
    padding-left: 100px;
    justify-self:right;
}

.phone {
    height: 400px;
    padding-top: 110px;
    padding-left: 50px;
}

.part2 {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part2 h2 {
    margin: 2%;
    color: rgb(224, 9, 224);
    font-size: 70px;
}

#img-left{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img2{
    margin-top: 2%;
    width: 430px;
    height: 300px;
    display: flex;
}

#right2 h3{
    margin-top: 7%;
    display: flex;
    color: #e76565;
    font-size: 35px;
    flex-direction: column;
    padding-left: 130px;
}

#right2 p{    
    margin-top: 7%;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 130px;
}

/* codigo para poner lineas horizontales de css */

#line h4 {
    margin-top: 3.5%;
    display: flex;
    padding-left: 130px;
    font-size: 22px;
    color:#e955e9;
    width: 200px;
}

#line{
    display: flex;
    flex-direction: row;
}

hr {
    background-color: #e955e9;
    height: 1.5px;
    width: 7%;
    display: flex;
    margin-top: 6%;
    margin-right: 5px;
}

#list{
    display: flex;
    flex-direction: column;
}

#list p{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

 #visto{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
 }

 .part3{
    display: flex;
    width: 100%;
    background-color: #390f57;
    color: #FFFFFF;
    padding: 25px 0;
    align-items: center;
 }

 #up{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 580px;
    margin-left: 550px;
 }

 #up h2{
    font-size: 55px;
 }

 #up p{
    margin-top: 30px;
    font-size: 15px;
 }


 .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: #191947;
}

.containerSec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#medium {
    width: 80px;
    display: flex;

}

#box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 270px;
    margin: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; 
    background-color: #ffffff;
}

#box1 a{
    line-height: 25px;
}

#box1 h2{
    color: #FF69B4;
}

#box1 p{
    padding-top: 15%;
    width: 200px;
}

#chart{
    display: flex;
    background-color:#ebebeb;
    width: 270px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 6%;
}

#chart p{
    padding-bottom: 15%;
    font-size: 30px;
    width: 35px;
}

#chart a{
    font-size: 15px;
    padding-left: 5px;
    padding-bottom:20px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

/* the first bottom color pink */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    margin-top: 30px;
    background-color: #ebebeb;
}

#btn1 {
    padding: 13px;
    background-color: #f1489d;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid black 0px;
    height: 15px;
}

#box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 270px;
    margin: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; 
    background-color: white;
}

#box2 a{
    line-height: 25px;
}

#box2 p {
    width: 200px;
    padding-top: 15%;
}

#chart2{
    display: flex;
    background-color:#ebebeb;
    width: 270px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 6%;
}

#chart2 p{
    font-size: 30px;
    width: 50px;
    padding-bottom: 15%;
}

#chart2 a{
    padding-left: 5px;
    padding-bottom:13px;
    font-size: 15px;
}

#box3{
display: flex;
flex-direction: column;
align-items: center;
height: 500px;
width: 270px;
margin: 50px 20px;
font-family: Arial, Helvetica, sans-serif;
border: 2px solid transparent; 
background-color: #ffffff;
}

#box3 a{
    line-height: 25px;
}

#box3 p {
    width: 200px;
    padding-top: 15%;
}

#chart3{
    display: flex;
    background-color:#ebebeb;
    width: 270px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 6%;
}

#chart3 p{
    font-size: 30px;
    width: 68px;
    padding-bottom: 15%;
}

#chart3 a{
    padding-left: 5px;
    width: 70px;
    font-size: 15px;
    line-height: 20px;
}

.containerSec p{
    font-size: 15px;
}

/* code to the bottons of suscribe now blue colors */

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    margin-top: 30px;
    background-color: #ebebeb;
}

#btn2 {
    padding: 13px;
    background-color:  #1D1973;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid black 0px;
    height: 15px;
}

