
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.menu{
    background-color: #1e172f;
}

.logo{
    display: flex;
    justify-content: end; 
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 50px;
}

#men {
    list-style-type: none;
    margin: 5px;
    padding: 20px 400px 15px;
    display: flex;
    color: white;  
}

#men a {
    margin-right: 25px; 
}

.bot{
    background: linear-gradient(to right, #ee4dee, #8644ec, #4e89f7);
    color: #FFFFFF;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.part1 {
    width: 100%;
    display: flex;
}

#left {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
    width: 50%;
    height: 500px;
    background-color: rgba(46,37,80,255);
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#left h1 {
    font-size: 70px;
    padding-right: 180px;
    width: 15px;
}

#left p{
    width: 450px;
    padding-left: 265px;
    padding-top: 4%;
}

.buttom{
    margin: 5%;
    width: 350px;
    height: 55px;
    border-radius: 5px;
    border: solid #b3b0b0;
    margin-left: 200px;
}

.first {
    margin: 1%;
    color: rgb(238, 43, 238);
    height: 40px;
    width: 170px;
    font-size: 18px;
}

.second {
    margin: 1%;
    height: 40px;
    width: 150px;
    font-size: 18px;
    background-color: rgba(46,37,80,255);
    border:solid #FFFFFF;
    color: #ffffff;
}

#right {
    background-image: url(../assets/images/hojasFondo.jpg);
    background-size: cover;
    width: 50%;
    display: flex;
    padding-left: 100px;
    justify-self:right;
}

.phone {
    height: 400px;
    padding-top: 110px;
    padding-left: 50px;
}

.part2 {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part2 h2 {
    margin: 2%;
    color: rgb(224, 9, 224);
    font-size: 70px;
}

#img-left{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img2{
    margin-top: 2%;
    width: 430px;
    height: 300px;
    display: flex;
}

#right2 {
    padding-top: -250px;
}

#right2 h3{
    margin-top: 7%;
    display: flex;
    color: #c81a72;
    font-size: 35px;
    flex-direction: column;
    padding-left: 130px;
}

#right2 p{    
    margin-top: 7%;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 130px;
}

/* codigo para poner lineas horizontales de css */

#line h4 {
    margin-top: 3.5%;
    display: flex;
    padding-left: 130px;
    font-size: 22px;
    color:#e955e9;
    width: 200px;
}

#line{
    display: flex;
    flex-direction: row;
}

hr {
    background-color: #e955e9;
    height: 1.5px;
    width: 7%;
    display: flex;
    margin-top: 6%;
    margin-right: 5px;
}

#list{
    display: flex;
    flex-direction: column;

}

#list p{
    display: flex;
    justify-content: space-between;
}

 #visto{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .part3{
    display: flex;
    width: 100%;
    background-color: #1e172f;
    color: #FFFFFF;
    padding: 25px 0;
    align-items: center;
 }

 #up{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 580px;
    margin-left: 550px;
 }

 #up h2{
    font-size: 55px;
 }

 #up p{
    margin-top: 30px;
    font-size: 15px;
 }


 .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #1e172f;
}

.containerSec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#medium {
    width: 80px;
    display: flex;
}

#box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 270px;
    margin: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; 
    background-color: #ffffff;
}

#box1 a{
    line-height: 25px;
}

#box1 h2{
    color: #FF69B4;
}

#box1 p{
    padding-top: 15%;
    width: 200px;
}

#chart{
    display: flex;
    background-color:#ebebeb;
    width: 270px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 6%;
}

#chart p{
    padding-bottom: 15%;
    font-size: 30px;
    width: 35px;
}

#chart a{
    font-size: 15px;
    padding-left: 5px;
    padding-bottom:20px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

/* the first bottom color pink */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    margin-top: 30px;
    background-color: #ebebeb;
}

#btn1 {
    padding: 13px;
    background-color: #f41486;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid black 0px;
    height: 15px;
}

#box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 270px;
    margin: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; 
    background-color: white;
}

#box2 a{
    line-height: 25px;
}

#box2 p {
    width: 200px;
    padding-top: 15%;
}

#chart2{
    display: flex;
    background-color:#ebebeb;
    width: 270px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 6%;
}

#chart2 p{
    font-size: 30px;
    width: 50px;
    padding-bottom: 15%;
}

#chart2 a{
    padding-left: 5px;
    padding-bottom:13px;
    font-size: 15px;
}

#box3{
display: flex;
flex-direction: column;
align-items: center;
height: 500px;
width: 270px;
margin: 50px 20px;
font-family: Arial, Helvetica, sans-serif;
border: 2px solid transparent; 
background-color: #ffffff;
}

#box3 a{
    line-height: 25px;
}

#box3 p {
    width: 200px;
    padding-top: 15%;
}

#chart3{
    display: flex;
    background-color:#ebebeb;
    width: 270px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 6%;
}

#chart3 p{
    font-size: 30px;
    width: 68px;
    padding-bottom: 15%;
}

#chart3 a{
    padding-left: 5px;
    width: 70px;
    font-size: 15px;
    line-height: 20px;
}

.containerSec p{
    font-size: 15px;
}

/* code to the bottons of suscribe now blue colors */

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    margin-top: 30px;
    background-color: #000000;
}

#btn2 {
    padding: 13px;
    background-color:  #1D1973;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid black 0px;
    height: 15px;
}

footer{
    height: 10vh;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Acceso-redes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#photo{
    width: 30px;
}

.breadcrumb-title{
    display: flex; 
    font-size: 15px;
    color: #000000;
    align-items: center;
    justify-content: center;
}

#textocolor{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1489d;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1279px) {
#men {
    list-style-type: none;
    margin: 5px;
    padding: 20px 50px 20px;
}

li {
    margin-right: 35px; 
}

#left h1 {
    font-size: 55px;
    padding-right: 200px;
}

#left p{
    font-size: 15px;
    padding-left: 140px;
    width: 350px;
}

#left {
    height: 410px;
}

#right {
    width: 50%;
    display: flex;
    padding-left: 10px;
    justify-self:right;
}

.phone {
    height: 350px;
    padding-top: 40px;
    padding-left: 40px;
}

.buttom{
    width: 300px;
    margin-left: 100px;
}

.first {
    margin: 1%;
    width: 130px;
    font-size: 15px;
}

.second {
    width: 140px;
    font-size: 15px;
}

#up {
    margin-left: 170px;
}

.img2 {
    padding-top: 30px;
    width: 420px;
    height: 330px;
}
} 

@media screen and (max-width: 920px) {

.logo{
    padding-left: 90px;
}

#men {
    margin: 3px;
    padding: 10px 40px 10px 30px;
}

li {
    margin-right: 35px; 
}

#left h1 {
    padding-right: 250px;
}

#left p{
    padding-left: 40px;
    width: 300px;
}

.buttom{
    width: 300px;
    margin-left: 60px;
}

.first {
    margin: 1%;
    width: 130px;
    font-size: 15px;
}

.second {
    width: 140px;
    font-size: 15px;
}

.part2 {
    height: 510px;
}

#right2 p{
    padding: 0px 30px   ;
    padding-left: 35px;
}

#right2 h3{
    padding-left: 40px;
}

#right2 h4{
    padding-left: 40px;
}

.img2{
    width: 360px;
    height: 300px;
}

.section p{
    width: 50px;
    font-size: 13px;
    justify-content: center;
}
#box1{
    width: 200px;
}

#box1 a{
    margin-top: 8px;
}

#box2{
    width: 200px;
}

#box2 a{
    margin-top: 8px;
}

#box3{
    width: 200px;
}

#box3 a{
    margin-top: 8px;
}

#chart {
    width: 200px;
}

#chart2 {
    width: 200px;   
}

#chart3 {
    width: 200px;
}

.btn{
    width: 200px;
    margin-top: 30px;
}

.btn2{
    width: 200px;
    margin-top: 30px;
}

#medium {
    width: 60px;
}

#up {
    margin-left: 90px;
}
}
    
@media screen and (max-width: 768px) {

.menu {
    width: 100%;
}

.logo {
    width: 230px;
    margin-left: 150px;
}

.logo img{
    width: 120px;
}

#men {
    width: auto;
    padding: 20px 0px 15px;
}

.logo a{
    font-size: 15px;
}

.bot {
    padding-left: 5px;
    width: 42px;
    height: 17px;
    font-size: 13px;
}

li {
    margin-right: 25px; 
}

#left h1 {
    margin-top: 40px;
    font-size: 45px;
    padding-right: 190px;
}

#left p{
    font-size: 12px;
    padding-left: 20px;
    width: auto;
}

#left {
    height: 410px;
}

#right {
    width: 50%;
    display: flex;
    padding-left: 10px;
    justify-self:right;
}

.phone {
    height: 260px;
    padding-top: 110px;
    padding-left: 20px;
}

.buttom{
    width: 195px;
    height: auto;
    margin-left: 10px;
}

.first {
    margin: 1%;
    width: 90px;
    font-size: 12px;
}

.second {
    width: 80px;
    font-size: 12px;
}

.right2{
    width: auto;
}

.part2 {
    align-items: center;
    justify-content: center;
    height: 510px;
}

.part2 h2 {
    font-size: 60px;
}

#right2 p{
    width: auto;
    font-size: 17px;
    padding: 0px 20px;
    padding-left: 25px;
}

#right2 h3{
    width: auto;
    padding-left: 15px;
    font-size: 30px;
}

#right2 h4{
    padding-left: 20px;
    font-size: 20px;
}

.section p{
    width: 50px;
    font-size: 13px;
    justify-content: center;
}

.img2{
    display: none;
}

#up {
    margin-left: 30px;
}

#up h2{
    font-size: 45px;
}

#up p {
    font-size: 13px;
}

.section{
    height: auto;
}

.containerSec {
    flex-direction: column;
}

#box1{
    width: 330px;
    height: auto;
}

#box1 p{
    height: 80px;
    width: 260px;
    font-size: 20px;
}

#box1 a{
    font-size: 20px;
    margin-top: 7px;
}

#chart {
    font-size: 20px;
    width: 330px;
}

#chart p{
    font-size: 35px;
    margin-top: 35px;
}

#chart a{
    margin-left:-220px;
}

#box2{
    width: 330px;
    height: auto;
}

#box2 p{
    height: 80px;
    width: 260px;
    font-size: 20px;
}

#box2 a{
    font-size: 20px;
    margin-top: 7px;
}

#chart2 {
    width: 330px; 
    font-size: 20px;  
}

#chart2 p{
    font-size: 35px;
    margin-top: 35px;
}

#chart2 a{
    margin-left:-200px;
    font-size: 16px;
}

#box3{
    width: 330px;
    height: auto;
}

#box3 p{
    height: 80px;
    width: 260px;
    font-size: 20px;
}

#box3 a{
    margin-top: 7px;
    font-size: 20px;
}

#chart3 {
    width: 330px;
    height: 60px;
}

#chart3 p{
    font-size: 30px;
    margin-top: 40px;
    padding-left: 120px;
}

#chart3 a{
    padding-right: 90px;
    font-size: 17px;
    padding-bottom: 14px;
    line-height: 18px;
}

.btn{
    width: 330px;
    margin-top: 60px;
}

#btn1 {
    font-size: 20px;
}

#btn2 {
    font-size: 20px;
}

.btn2{
    width: 330px;
    margin-top: 60px;
}

#medium {
    width: 75px;
}

}

@media screen and (max-width: 480px) {

.logo {
    flex-direction: column;
    padding-left:47px;
    margin: 0px;
}

.logo img{
    width: 120px;
    flex-direction: column;
}

#men {
    width: 320px;
}

#men a{
    font-size: 16px;
    margin: 12px;
    padding: 0;
}

.logo a{
    font-size: 15px;
}

.bot {
    width: 30px     ;
    height: 12px;
    font-size: 10px;
}

li {
    margin-right: 15px; 
}

.part1 {
    flex-direction: column;
}

#left {
    width: 100%;
    height: 380px;
}

#left h1 {
    margin-top: 20px;
    font-size: 50px;
    padding-right: 170px;
}

#left p{
    padding-top: 20px;
    font-size: 16px;
    padding-left: 5px;
    width: 180px;
}

#right {
    width: 100%;
    height: 450px;
    padding: 0;
}

.phone {
    height: 250px;
    padding-top: 110px;
    padding-left: 20px;
}

.buttom{
    width: 250px;
    height: 53px;
    margin-top: 30px;
    margin-left: 10px;
}

.first {
    width: 100px;
    font-size: 12px;
}

.second {
    width: 120px;
    font-size: 12px;
}

.part2 {
    height: 530px;
}

.part2 h2 {
    font-size: 48px;
}

#right2{
    align-items: center;
    padding-left: 45px;
    width: 300px;
    height: auto;
}

#right2 p {
    font-size: 22px;
}

#right2 h3 {
    font-size: 30px;
}

.img2 {
    display: none;
}

#up p{
    padding-right: 45px;
}

#up h2{
    font-size: 40px;
    padding-right: 35px;
}

footer{
    height: 13vh;
}

#photo{
    width: 18px;
}

.breadcrumb-title{
    font-size: 12px;
}

}
